
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Schoolmanagement system loginpage</title>
</head>
<body>
    <div class="main">
        <div class="box">
            {% csrf_token%}

            <div class="login">
                <div class="page">
                    <h1>Welcome</h1>
                    <input type="text"  placeholder="Username"><br>
                    <input type="password"  placeholder="Password"><br>
                    <div class="loginbutton"><a href="{% url 'school:dashboard'%}">Log in</a></div>


                </div>
            </div>

        </div>
    </div>
{%block content%}
{%endblock%}
</body>
</html>